.profile-container {
    display: flex;
}

.edit-inputs{
    display: flexbox;
    height: 600px;
    width: 300px;
    margin-top: 35px;
    flex-direction: column;
}

.collections {
    display: flexbox;
    height: 600px;
    width: 600px;
    margin-top: 35px;
}

.collections > div {
    background-color: white;
    display: flex;
    margin-top: 35px;
    height: 600px;
    width: 600px;
    height: 250px;
    width: 250px;

}